<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="10">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distractions</title>
    <script>
        // Function to reload the image every 30 seconds
        function reloadImage() {
            document.getElementById('yogaImage').src = "{{ url_for('distract') }}";
        }

        // Call the reload function initially and then every 30 seconds
        reloadImage();
        setInterval(reloadImage, 30000);
    </script>
</head>
<body>
    <h1>Distraction Time!</h1>
    <img id="yogaImage" src="{{ img }}" alt="Yoga Pose"> 
</body>
</html>